@import "styles/vars/colors/index.module.scss";
@import "styles/vars/spacing/index.module.scss";

.AnnouncementCard__container { 
  height: 259px;
}

.Announcement {
  
  height: 100%;

  &__card {
    margin-top: $spacing-16;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 3px rgba(154, 140, 152, 0.05);
  }

  &__infos {
    padding: $spacing-8 $spacing-16;
  }

  &__infosRow1 {
    display: flex;
    justify-content: space-between;
  }


  &__itemName {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50px;
  }

  &__cardImgContainer { 
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    height: 174px; 
    background-color: grey;
   
    & > img {
      max-width:100%;
      max-height:100%;
    }
  }
}

