@import "../../vars/colors/index.module.scss";


.container {
  width: 250px ;
} 

.step {
  font-family: "Nunito Bold";
  font-size: 18px;
  color: $light_purple;
  text-align: center;
}

.stepTitle {
  font-family: "Nunito Semibold";
  color: $grey;
  text-align: center;
}