@import "styles/vars/fonts/index.module.scss";
@import "styles/vars/colors/index.module.scss";
@import "styles/vars/breakpoints/index.module.scss";

.display {
  font-family: "Nunito Bold";
  font-size: 40px;
  line-height: 1.5;
  color: $page_background;
  @include desktop {
    font-size: 60px;
  }
}