@import "../../vars/spacing/index.module.scss";
@import "../../vars/colors/index.module.scss";

.container {
  box-sizing: border-box;
  padding: $spacing-24;
  border-radius: 16px;
  background-color: $white;
  box-shadow: 0px 4px 10px 3px rgba(154, 140, 152, 0.05);
}