@import "styles/vars/fonts/index.module.scss";
@import "styles/vars/colors/index.module.scss";

.text {
<<<<<<< HEAD:packages/front/src/styles/atoms/Text/index.module.scss
  color: $light_purple;
  font-family: "Quicksand";
=======
  color: $text_color;
  font-family: "Nunito Black";
>>>>>>> added nunito font:packages/front/src/design-system/atoms/Text/index.module.scss
  font-weight: $regular;
}

.pageTitle {
  font-size: 27px;
  font-weight: $bold;
}

.link {
  font-weight: $bold;
}

.error {
  font-weight: $bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
