@import "styles/vars/fonts/index.module.scss";
@import "styles/vars/colors/index.module.scss";

.text {
  color: $text_color;
  font-family: "Nunito Regular";
}

.pageTitle {
  font-size: 27px;
  font-family: "Nunito Bold";
  color: $light_purple;
}

.link {
  font-weight: $bold;
  font-family: "Nunito Regular";
  color: $grey;
}

.error {
  font-weight: $bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
