
.container {
  width: 100%;
  height: 476px;
  display: grid;
  place-items: center;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 344px);
  grid-gap: 24px;
  place-items: center;
}