$white: #ffffff;
$page_background: #f3f3f3;
$text_color: #080708;
$primary_color: #f4e285;
$secondary_color: #f4a259;
$secondary_color_darker: #EB8F3E;
$tertiary_color: #e63946;
$quaternary_color: #3772ff;
$input_background: #e9edf6;
