@import "styles/vars/colors/index.module.scss";
@import "styles/vars/fonts/index.module.scss";
@import "styles/vars/breakpoints/index.module.scss";

.snackBar {
  box-sizing: border-box;
  padding: 14px 26px;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  font-weight: $bold;
  @include mobile-large {
    top: auto;
    bottom: 0;
  }
}

.error {
  background: $tertiary_color;
  & > p {
    color: #ffffff;
  }
}
