@import "styles/vars/fonts/index.module.scss";
@import "styles/vars/colors/index.module.scss";

.text {
  color: $text_color;
  font-family: "Nunito Regular";
  line-height: 21px;
  font-size: 14px;
  color: $grey;
}

.pageTitle {
  font-size: 22px;
  font-family: "Nunito Bold";
  color: $light_purple;
}

.label {
  font-family: "Nunito SemiBold";
  font-size: 12px;
  color: black
}

.link {
  font-weight: $bold;
  font-family: "Nunito Regular";
  color: $grey;
}

.error {
  font-weight: $bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

