/*********************
SPACING VALUES
*********************/

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-72: 72px;
$spacing-80: 80px;