@import "../../vars/colors/index.module.scss";
@import "../../vars/breakpoints/index.module.scss";

.header {
  background: $white;
  padding: 11px 24px;
  box-shadow: 0px 4px 10px 3px rgba(154, 140, 152, 0.05);
  border-bottom: 1px solid $pale_grey;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btnContainer {
  display: grid;
  grid-template-columns: 150px 170px;
  grid-gap: 16px;
}

.iconContainer {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}