@import "styles/vars/breakpoints/index.module.scss";

.section {
  padding: 0 26px;
  height: calc(100vh - 65px);
  display: grid;
  place-items: center;

  div {
    width: 100%;

    @include mobile-large {
      max-width: 360px;
    }
  }
}

.submitButton {
  margin-top: 77px;
  width: 100%;
}

.createAccount  {
  height: 64px;
}

.forgotPassword {
  margin-top: 16px;
}
