$white: #ffffff;
$page_background: #f3f3f3;
$pale_grey: #f2f2f2;
$text_color: #080708;

$primary_color: #ffe66d;
$primary_color_variant1: #ffe45c;
$primary_color_variant2: #ffdd33;
$primary_color_variant3: #ffd60a;

$secondary_color: #c7f9cc;
$secondary_color_variant1: #b5f7bc;
$secondary_color_variant2: #a3f5ab;
$secondary_color_variant3: #90f39a;

$tertiary_color: #e63946;
$quaternary_color: #3772ff;
$input_background: #e9edf6;

$black: #2d252a;
$grey: #575366;
$light_purple: #6e7dab;
