@import "styles/vars/colors/index.module.scss";
@import "styles/vars/spacing/index.module.scss";


.block {
  margin-top: 120px;
  background-color: $white;
  border-radius: 8px;
  padding: $spacing-24 $spacing-80;
  box-shadow: 0px 4px 10px 3px rgba(154, 140, 152, 0.05);
  position: relative;
  
  &__fieldGroup {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
  }

  &__submitBtn {
    width: 320px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
