@import "../../../../design-system/styles/vars/breakpoints/index.module.scss";

.registerPageLayout {
  height: 100%;
  margin: 0 auto;
  @include mobile-large {
    max-width: 464px;
  }
}

.pageTitle{
  margin-top: 35px;
}