@import "styles/vars/breakpoints/index.module.scss";

.registerPageLayout {
  height: 100%;
  margin: 0 auto;
  @include mobile-large {
    max-width: 464px;
  }
}

.registerFormContainer {
  max-width: 464px;
  margin: 0 auto;
  & button {
    width: 100%;
  }
}
