@import "styles/vars/breakpoints/index.module.scss";
@import "styles/vars/colors/index.module.scss";

.section {
  padding: 0 26px;
  display: grid;
  place-items: center;
  height: calc(100vh - 65px);

  div {
    width: 100%;
    @include mobile-large {
      max-width: 360px;
    }
  }
}

.separator {
  display: flex;
  font-family: "Nunito SemiBold";
  color: $grey;
  & :before {
    content: "";
    height: 2px;
    width: 40px;
    background: $grey;
  }

  & :after {
    content: "";
    height: 2px;
    width: 4px;
    background: $grey;
  }
}

.registerFormContainer {
  margin: 0 auto;

}
