@import "styles/vars/breakpoints/index.module.scss";
@import "styles/vars/colors/index.module.scss";

.registerPageLayout {
  height: 100%;
  margin: 0 auto;
  @include mobile-large {
    max-width: 464px;
  }
}

.instructionsParagraph {
  margin-top: 80px;
}

.facebookButton {
  margin-top: 32px;
}

.separator {
  margin-top: 24px;
  display: flex;
  font-family: "Nunito SemiBold";
  color: $grey;
  & :before {
    content: "";
    height: 2px;
    width: 40px;
    background: $grey;
  }

  & :after {
    content: "";
    height: 2px;
    width: 4px;
    background: $grey;
  }
}

.registerButton {
  margin-top: 24px;
}

.loginButton {
  margin-top: 8px;
}

.registerFormContainer {
  max-width: 464px;
  margin: 0 auto;
  margin-top: 35px;

  & button {
    width: 100%;
  }
}
